.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  
}
.griditem1{
  background-color: darkkhaki;
  color: rgb(2, 2, 43);
  font-size: 15px;
  font-family: 'cursive';
  font:bold ;
  padding: 7px 7px 7px 7px;
}
input[type='text'],input[type='email'],input[type='tel'],textarea{
  width: 70%;
  background-color: rgb(2, 2, 43);
  color: aliceblue;
  margin-bottom: 2px;
  margin-right: 2px;
  margin-left: 25px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
.griditem2{
  display: grid;
  row-gap: 1rem;
  font-family: 'cursive';
  align-content: center;  
}

.card1{
  color:blanchedalmond;
  background: linear-gradient(to right,rgb(2, 2, 43)20%,rgb(120, 138, 250) 45%, rgb(2, 2, 43) 75%);
  font-family:'cursive';
  line-height: 55px;
  font-weight: 70;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(3,auto);
  grid-template-rows: repeat(3,45px);
  column-gap: 1rem;
  border: 3px solid darkkhaki;
}
p.card1text{
  font-family: 'Times New Roman', Times, serif;
}
.card2{
  color:blanchedalmond;
  background: linear-gradient(to right,rgb(2, 2, 43)20%,rgb(120, 138, 250) 45%, rgb(2, 2, 43) 75%);
  font-family:'cursive';
  text-align: center;
  display: grid;
  grid-template-rows: repeat(3,45px);
  border: 3px solid darkkhaki;
  
}
